<md-card>
  <md-card-subtitle>Input image of Imagenet models is 224*224.</md-card-subtitle>
  <md-card-title>Input Image</md-card-title> 
  <app-input></app-input>
</md-card>

<md-card *ngFor="let model of models">
  <md-card-subtitle>{{model.category}}</md-card-subtitle>
  <md-card-title>{{model.name}}</md-card-title> 
  <md-grid-list cols="2">
    <md-grid-tile>
      <p>{{model.name}}</p>
    </md-grid-tile>
    <md-grid-tile>
      <p>result</p>
    </md-grid-tile>
  </md-grid-list>
</md-card>
